* {
    background-color: var(--background-color-dark);
    margin: 1em;
}

body {
    font-family: Antique Legacy;
}

.logo {
    color: var( --background-color-light);
}

.breadandbutter img:nth-child(1) {
    display: none;
}

header {
    height: 1vh;
}

header img {
    position: absolute;
    left: 2em;
    top: 1em;
}

.slideshowfront {
    display: none;
}

/* alles van de body */

body section:nth-child(1) {
    align-items: center;
}

p {
    color: var(--background-color-light);
}

h2 {
    color: var(--background-color-light);
}

h1 {
    color: var(--background-color-light);
}

.breadandbutter img:nth-child(1) {
    display: none;
}

.breadandbutter img:nth-child(1).on {
    display: block;
}

.breadandbutter img:nth-child(2) {
    display: block;
}

.breadandbutter img:nth-child(2).off {
    display: none;
}

body section {
    align-items: center;
}
/* 
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
 */

.stickerselection {
    display: none;
}

.quote {
    position: fixed;
    width: 20%;
}

.Fotocarrousel img {
    width: 9em;
    overflow: hidden;
}

/* all the fonts */
@font-face {
    font-family: 'Antique Legacy';
    src: url('Antique-Legacy-Light.eot');
    src: url('Antique-Legacy-Light.eot?#iefix') format('embedded-opentype'),
         url('Antique-Legacy-Light.woff2') format('woff2'),
         url('Antique-Legacy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}





  
